*{
  padding : 0;
  margin : 0;
  box-sizing: border-box;
  background-color: #222;
}

form {
  padding:50px;
  margin : 20px;
}

button {
  height:30px;
  width : 100px;
  background-color: rgb(101, 141, 209);
}

input {
  border: 2px solid white;
  height: 60px;
  width: 250px;
  margin : 20px;
  color : white;
  font-size: 40px;
}

