body {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    font-size : 50px;
}
button {
     height : 50px;
     width : 120px;
     margin-bottom : 50px;
}
div {
    border : 2px solid black;
    height : 150px;
    width : 600px;
    text-align: center;
    font-size : 25px;
}