#safe {
    background-color: green;
    height : 50px;
    width : 120px;
}

#danger {
    background-color: Red;
    height : 50px;
    width : 120px
}

.danger {
    height: 500px;
    width : 500px;
    border-radius: 50%;
    background-color: red;
    border : 4px solid black;
    display : flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size : 50px;
    margin : 50px;
}

.container {
    display : flex;
    justify-content: center;
    align-items: center;


}

.safe {
    height: 500px;
    width : 500px;
    border-radius: 50%;
    background-color: green;
    border : 4px solid black;
    display : flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size : 50px;
     margin : 50px;
}