<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welocme to My Page</h1>
    <h2>I'm Nitesh</h2>
    <h4>Here i'm learing Full Stack Development using MERN stack</h4>
    <p>MERN stands for <br> M -> Mongo, it is a Databse <br> E -> Express.js, It is used for server side programming. <br> R -> React.js, It is used for frontend. <br> N -> Next.js, Ye to bawal cheez h bhai. </p>
    <hr>
    <h2>This is all you should know about me.</h2>
    <button>Bye!</button>
    <h1>Tada</h1>
</body>
</html>