*{
  margin:0;
  padding:0;
  background-color: #111;
  color: white;
}

.div {
  margin : 20px 100px;
  padding : 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div h1{
  background-color:darkgrey;
  margin : 20px;
  height: 100px;
  text-align: center;
  width: 100%;
  font-size:6rem;
  color:mediumvioletred
}

.div button { 
  background-color:crimson;
  height : 50px;
  width : 100px;
  border-radius: 20px;
}
