* {
    margin : 0;
    padding : 0;
    color:antiquewhite;
}
body {
    background-color: #3f1a6f;
}
.heading{
    text-align: center;
    padding: 30px;
    margin : 30px;
}

.input {
  max-width: 190px;
  height: 2rem;
  background-color: black;
  border: 2px solid transparent;
  color: white;
  padding: 1rem;
  box-shadow: 2px 2px 5px black, inset 2px 2px 5px rgb(53, 51, 51),
    -1px -1px 20px rgba(59, 56, 56, 0.781);
  outline: none;
  border-radius: 10px;
  font-size: medium;
}
#maxRange{
    margin : 1rem;
}

.input:focus {
  box-shadow: 2px 2px 5px black, inset 2px 2px 5px black,
    -1px -1px 5px rgba(68, 67, 67, 0.781),
    inset -1px -1px 5px rgba(66, 65, 65, 0.822);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button {
  background: #aa6bfc;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
.logic1,.logic2{
    margin : 10px;
}

.logic {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin : 100px;
}


